/v2/data/080523-Acorn-Project-Summary-Completed.docx filter=lfs diff=lfs merge=lfs -text
/v2/data/230424-ShortSeriousShea.BPlan_.Pres_.-V8Draft-SNJ.pdf filter=lfs diff=lfs merge=lfs -text
/v2/data/230607-V1-Draft-Covergence-Concept-Serious-Shea.pdf filter=lfs diff=lfs merge=lfs -text
/v2/data/230608-Serious-Shea-Senegal-for-Covergence.pptx filter=lfs diff=lfs merge=lfs -text
/v2/data/Acorn-Local-Partner-Onboarding-Process.pdf filter=lfs diff=lfs merge=lfs -text
/v2/data/Mirova-Shea-Senegal-Feasibility-Report-v1.1.pdf filter=lfs diff=lfs merge=lfs -text
/v2/data/Serious-Shea-Business-Case-Template-Acorn1.xlsx filter=lfs diff=lfs merge=lfs -text
/v2/data/scenarios[[:space:]]3-1.pdf filter=lfs diff=lfs merge=lfs -text
/docs/Repos/extra/Acorn/080523-Acorn-Project-Summary-Completed.docx filter=lfs diff=lfs merge=lfs -text
/docs/Repos/extra/Acorn/Acorn-Local-Partner-Onboarding-Process.pdf filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_EXPLAINED_MATH.html filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION.html filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child_fin.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig4_convergence_curves.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigram-4s.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigrams.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-base.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-front.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-left.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-right.psd filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION_SIMPLE.html filter=lfs diff=lfs merge=lfs -text
/docs/Repos/intra/TVPCI/TVPCI_TRUE_VALUE_PRICING_CONVERGENCE_INDEX.html filter=lfs diff=lfs merge=lfs -text
/docs/Research/archive/Achieving_Sustainability_In_Developing_Markets_2021.03.09_v1.pdf filter=lfs diff=lfs merge=lfs -text
/docs/Research/archive/Foranetal.2005-BalancingAct-VOLUME1.pdf filter=lfs diff=lfs merge=lfs -text
/docs/Research/archive/Foranetal.2005-BalancingAct-VOLUME2.pdf filter=lfs diff=lfs merge=lfs -text
/docs/Research/archive/TrueValue[[:space:]]Analytics[[:space:]]—[[:space:]]Investor[[:space:]]Report-Draft[[:space:]]V5.pdf.pdf filter=lfs diff=lfs merge=lfs -text
/docs/Research/archive/furure_farming_in_spain.pdf filter=lfs diff=lfs merge=lfs -text
/docs/Research/archive/sustainability-scenarios_3-1.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/project/gold/data/schema/gold_supply_chain_metrics_ndc.html filter=lfs diff=lfs merge=lfs -text
/frontend/project/shea/data/230424-ShortSeriousShea.BPlan_.Pres_.-V8Draft-SNJ.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/project/shea/data/230607-V1-Draft-Covergence-Concept-Serious-Shea.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/project/shea/data/230608-Serious-Shea-Senegal-for-Covergence.pptx filter=lfs diff=lfs merge=lfs -text
/frontend/project/shea/data/Mirova-Shea-Senegal-Feasibility-Report-v1.1.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/project/shea/data/Serious-Shea-Business-Case-Template-Acorn1.xlsx filter=lfs diff=lfs merge=lfs -text
/frontend/research/tvpci/TVPCI_EXPLAINED_MATH.html filter=lfs diff=lfs merge=lfs -text
/frontend/research/tvpci/TVPCI_FOUNDATION.html filter=lfs diff=lfs merge=lfs -text
/frontend/research/tvpci/TVPCI_FOUNDATION_SIMPLE.html filter=lfs diff=lfs merge=lfs -text
/frontend/research/tvpci/TVPCI_TRUE_VALUE_PRICING_CONVERGENCE_INDEX.html filter=lfs diff=lfs merge=lfs -text
/viewable/frontend/project/aubeb/data/processed/aubeb_scenario_baseline.html filter=lfs diff=lfs merge=lfs -text
/viewable/frontend/project/gold/data/processed/scenario_baseline.html filter=lfs diff=lfs merge=lfs -text
/viewable/frontend/project/gold/data/schema/gold_supply_chain_metrics_ndc.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/extra/Acorn/080523-Acorn-Project-Summary-Completed.docx filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/extra/Acorn/Acorn-Local-Partner-Onboarding-Process.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_EXPLAINED_MATH.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child_fin.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig4_convergence_curves.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigram-4s.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigrams.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-base.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-front.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-left.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-right.psd filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_FOUNDATION_SIMPLE.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/TVPCI_TRUE_VALUE_PRICING_CONVERGENCE_INDEX.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/archive/023-C1-Tholonic_Math.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/archive/024-C2-Squares_Primes.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Repos/intra/TVPCI/archive/025-C3-Constants_Entropy.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/archive/Achieving_Sustainability_In_Developing_Markets_2021.03.09_v1.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/archive/Foranetal.2005-BalancingAct-VOLUME1.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/archive/Foranetal.2005-BalancingAct-VOLUME2.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/archive/SUSTAINABILITY_LINKED_LOAN_CREDIT_RATING_FRAMEWORK.html filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/archive/TrueValue[[:space:]]Analytics[[:space:]]—[[:space:]]Investor[[:space:]]Report-Draft[[:space:]]V5.pdf.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/archive/furure_farming_in_spain.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/archive/sustainability-scenarios_3-1.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/docs/Research/modeling/THOLONIC_FRAMEWORK_SUPPLY_AND_VALUE_CHAIN_APPLICATION.html filter=lfs diff=lfs merge=lfs -text
/frontend/project/water_newwater/data/processed/water_newwater_value_ndc_metrics.json filter=lfs diff=lfs merge=lfs -text
/frontend/project/water_ocwd/data/processed/water_ocwd_value_ndc_metrics.json filter=lfs diff=lfs merge=lfs -text
/site/Reports/TVPCI_FOUNDATION.html filter=lfs diff=lfs merge=lfs -text
/site/Repos/extra/Acorn/080523-Acorn-Project-Summary-Completed.docx filter=lfs diff=lfs merge=lfs -text
/site/Repos/extra/Acorn/Acorn-Local-Partner-Onboarding-Process.pdf filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_EXPLAINED_MATH.html filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION.html filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child_fin.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig4_convergence_curves.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigram-4s.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigrams.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-base.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-front.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-left.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-right.psd filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_FOUNDATION_SIMPLE.html filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/TVPCI_TRUE_VALUE_PRICING_CONVERGENCE_INDEX.html filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/archive/023-C1-Tholonic_Math.html filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/archive/024-C2-Squares_Primes.html filter=lfs diff=lfs merge=lfs -text
/site/Repos/intra/TVPCI/archive/025-C3-Constants_Entropy.html filter=lfs diff=lfs merge=lfs -text
/site/Research/archive/Achieving_Sustainability_In_Developing_Markets_2021.03.09_v1.pdf filter=lfs diff=lfs merge=lfs -text
/site/Research/archive/Foranetal.2005-BalancingAct-VOLUME1.pdf filter=lfs diff=lfs merge=lfs -text
/site/Research/archive/Foranetal.2005-BalancingAct-VOLUME2.pdf filter=lfs diff=lfs merge=lfs -text
/site/Research/archive/SUSTAINABILITY_LINKED_LOAN_CREDIT_RATING_FRAMEWORK.html filter=lfs diff=lfs merge=lfs -text
/site/Research/archive/TrueValue[[:space:]]Analytics[[:space:]]—[[:space:]]Investor[[:space:]]Report-Draft[[:space:]]V5.pdf.pdf filter=lfs diff=lfs merge=lfs -text
/site/Research/archive/furure_farming_in_spain.pdf filter=lfs diff=lfs merge=lfs -text
/site/Research/archive/sustainability-scenarios_3-1.pdf filter=lfs diff=lfs merge=lfs -text
/site/Research/modeling/THOLONIC_FRAMEWORK_SUPPLY_AND_VALUE_CHAIN_APPLICATION.html filter=lfs diff=lfs merge=lfs -text
/site/assets/javascripts/bundle.79ae519e.min.js.map filter=lfs diff=lfs merge=lfs -text
/site/search/search_index.json filter=lfs diff=lfs merge=lfs -text
/viewable/frontend/project/water_newwater/data/processed/water_newwater_value_ndc_metrics.html filter=lfs diff=lfs merge=lfs -text
/viewable/frontend/project/water_ocwd/data/processed/water_ocwd_value_ndc_metrics.html filter=lfs diff=lfs merge=lfs -text
/x filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/extra/Acorn/Acorn-Local-Partner-Onboarding-Process.pdf filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/Images/lambda-tri-1.png filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/Images/leibnix-pi-tho.png filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/Images/prime_stripes.png filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/Images/tt-up-dn.png filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig3_embedded_child_fin.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig4_convergence_curves.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigram-4s.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/fig_formula_trigrams.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-base.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-front.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-left.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Repos/intra/TVPCI/TVPCI_FOUNDATION/archive/tri-right.psd filter=lfs diff=lfs merge=lfs -text
/docnav/Research/archive/Achieving_Sustainability_In_Developing_Markets_2021.03.09_v1.pdf filter=lfs diff=lfs merge=lfs -text
/docnav/Research/archive/Foranetal.2005-BalancingAct-VOLUME1.pdf filter=lfs diff=lfs merge=lfs -text
/docnav/Research/archive/Foranetal.2005-BalancingAct-VOLUME2.pdf filter=lfs diff=lfs merge=lfs -text
/docnav/Research/archive/furure_farming_in_spain.pdf filter=lfs diff=lfs merge=lfs -text
/docnav/Research/archive/sustainability-scenarios_3-1.pdf filter=lfs diff=lfs merge=lfs -text
/frontend/project/shea/data/230608-Serious-Shea-Senegal-for-Covergence.pdf filter=lfs diff=lfs merge=lfs -text
/ontologies/KG01-tvfmodeling.ttl filter=lfs diff=lfs merge=lfs -text
/ontologies/KG02-tholonia-book.ttl filter=lfs diff=lfs merge=lfs -text
/ontologies/cTVF-merged.ttl filter=lfs diff=lfs merge=lfs -text
/ontologies/merged_tholonic_ontology.owl filter=lfs diff=lfs merge=lfs -text
/ontologies/relationship_names_all.tsv filter=lfs diff=lfs merge=lfs -text
/docnav/Research/papers/1_recursive-tholonic-five-constants/1_recursive-tholonic-five-constants.pdf filter=lfs diff=lfs merge=lfs -text
/docnav/Research/papers/2_supply-chain-transparency-tvpci/2_supply-chain-transparency-tvpci.pdf filter=lfs diff=lfs merge=lfs -text
