[Desktop Entry]
Icon=text-html
Name=https://trase.earth/insights/argentina-the-overlooked-hub-of-south-american-soy
Type=Link
URL[$e]=https://trase.earth/insights/argentina-the-overlooked-hub-of-south-american-soy
