[Desktop Entry]
Icon=text-html
Name=https://claritycoalition.net/knowledge-base/sustainable-development-goals-2026/?seq_no=3
Type=Link
URL[$e]=https://claritycoalition.net/knowledge-base/sustainable-development-goals-2026/?seq_no=3
