[Desktop Entry]
Icon=text-html
Name=https://claritycoalition.net/knowledge-base/true-value-chain-cleo-shea-carbon/
Type=Link
URL[$e]=https://claritycoalition.net/knowledge-base/true-value-chain-cleo-shea-carbon/
