[Desktop Entry]
Icon=text-html
Name=https://claritycoalition.net/achieving-sustainability-in-developing-markets/
Type=Link
URL[$e]=https://claritycoalition.net/achieving-sustainability-in-developing-markets/
